*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;

}
main{
    background-color: gainsboro;
    position: relative;
    border: #000 1px solid;
    height: 100%;
}
.character{
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 4rem;
    height: 8rem;
    background-color: blueviolet;
}
.animate{
    animation: jump .6s linear;
}
@keyframes jump {
    0%{
        top: 17rem;
    }
    50%{
        top: 7rem;
    }
    100%{
        top: 17rem;
    }
}

.floor{
    position: absolute;
    top: 25rem;
    background-color: #000;
    width: 100%;
    height: 0.5%;
}
.obstacle{
    position: absolute;
    top: 21rem;
    right: 0;
    width: 3rem;
    height: 4rem;
}

.firstObstacle{
    background-color: red;
    animation: slide 3s -20s infinite linear;
}

.secondObstacle{
    background-color: blue;
    animation: secondSlide 3s infinite linear;
}

@keyframes slide {
    0%{
        right: 0;
    }
    50%{
        right: 50%;
    }
    100%{
        right: 100%;
    }
}

@keyframes secondSlide {
    0%{
        right: 0%;
    }
    50%{
        right: 60%;
    }
    100%{
        right: 120%;
    }
}
